services:
  threejnotif:
    build:
      context: .
      args:
        THREEJ_VERSION: ${THREEJ_VERSION:-unknown}
        THREEJ_VERSION_DATE: ${THREEJ_VERSION_DATE:-unknown}
    environment:
      THREEJ_HOST_REPO: ${THREEJ_HOST_REPO:-/opt/threejnotif}
    ports:
      - "${THREEJ_PORT:-8000}:8000"
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/class/net:/host_sys_class_net:ro
      - /etc/netplan:/host_netplan:rw
    restart: unless-stopped
