services:
  threejnotif:
    build: .
    container_name: threejnotif
    ports:
      - "${THREEJ_PORT:-8000}:8000"
    volumes:
      - ./data:/data
      - ./:/repo
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
