services:
  threejnotif:
    build:
      context: .
      args:
        THREEJ_VERSION: ${THREEJ_VERSION:-unknown}
        THREEJ_VERSION_DATE: ${THREEJ_VERSION_DATE:-unknown}
    ports:
      - "${THREEJ_PORT:-8000}:8000"
    volumes:
      - ./data:/data
      - ./:/repo
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
